#intro .avatar {
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0 0 0 1px #4F4D4E inset;
  border: solid #4F4D4E 2px;
  background-color: #4F4D4E;
  box-sizing: border-box;
  position: absolute;
  height: 84px;
  width: 84px;
  margin: 4px;
  z-index: 0;
  bottom: 0;
}

#intro .avatar.expand {
  transition: all .5s cubic-bezier(.4, 0, .2, 1);
  height: 100%;
  width: 100%;
  z-index: -1;
  margin: 0;
}

#intro a {
  min-width: 0;
  color: #FAFAFA;
  margin: 20px 4px;
  border-radius: 25px;
  background-color: #DB236B;
}

#intro a[target] {
  min-height: 36px;
  width: 36px;
}

#bio {
  height: 100vw;
  padding: 16px 8px 0;
}

#bio > div {
  position: relative;
  height: 100%;
}

#root .paper, .paper .title,
.paper .title p {
  transition: all .5s cubic-bezier(.4, 0, .2, 1) .2s;
}

.paper {
  z-index: 0;
  margin: 4px;
  overflow: hidden;
  width: calc(33.333% - 8px);
  height: calc(33.333% - 8px);
  position: absolute;
}

.paper.expand {
  left: 0 !important;
  top: 0 !important;
  height: 100%;
  width: 100%;
  z-index: 99;
  margin: 0;
}

.paper .title {
  transform: translate(-50%, -50%);
  position: absolute;
  width: 48px;
  left: 50%;
  top: 50%;
}

.paper.expand .title {
  transform: translate(0, 0);
  left: 28px;
  top: 24px;
}

.paper .title .clickable {
  cursor: pointer;
}

.paper .title p {
  color: #616161;
  font-size: 16px;
  font-weight: 500;
}

.paper .title i {
  font-size: 48px;
  color: #616161;
  text-align: center;
  margin-bottom: 8px;
}

.paper.expand .title p {
  font-size: 28px;
  transform: translate(
    calc(50% + 40px),
    calc(-50% - 34px)
  );
}

.paper .title span,
.paper .title i {
  transition: color .2s;
}

.paper.expand .title span,
.paper.expand .title i {
  color: #FAFAFA !important;
  transition: color .2s linear .5s;
}

.paper .content {
  opacity: 0;
  padding: 0 16px;
  overflow-y: auto;
  transition: opacity .2s;
  max-height: calc(100% - 96px);
  border-top: 96px solid #FFEB3B;
}

.paper.expand .content {
  transition: opacity .5s linear .7s;
  opacity: 1;
}

.paper .content .line {
  margin: 16px 8px 4px;
  font-size: 18px;
}

.paper:not(:first-child) .content .line:first-child {
  font-size: 22px;
  font-weight: 500;
}

@media screen and (min-width: 960px) {
  #intro a {
    margin-bottom: 0;
  }

  #bio {
    height: 100%;
    padding: 0 8px 0 36px;
  }

  .paper .title p {
    font-size: 20px;
  }

  .paper.expand:first-child {
    height: 66.666%;
    width: 66.666%;
  }
}

.paper table tr:first-child td {
  font-weight: 500;
}