.gallery {
  display: flex;
  justify-content: center;
}

.gallery > div:first-child {
  background-color: rgba(0, 0, 0, 0.8);
}

.gallery.closing > div:first-child {
  opacity: 0 !important;
}

.gallery .content {
  outline: 0;
  position: relative;
  align-items: center;
  display: inline-flex;
  max-width: calc(100% - 16px);
}

.gallery .content .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-bottom: 4px;
}

.gallery .content .main > div {
  height: 28px;
  display: flex;
  width: 100%;
}

.gallery .nav {
  position: fixed;
  font-size: 36px;
  padding: 16px;
  text-shadow: 0 0 5px #212121;
}

.gallery i {
  cursor: pointer;
  padding: 6px .5em;
  vertical-align: middle;
}
