.box {
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  margin: 8px;
  padding: 8px;
}

h3.headline {
  color: #616161;
}

@media screen and (max-width: 600px) {
  h3.headline {
    font-size: 32px;
    font-weight: 500;
  }

  h3.headline > i {
    vertical-align: top !important;
  }

  h3.headline > a {
    margin-top: -4px !important;
  }
}
