.card {
  position: relative;
  margin: 8px;
  flex: 1;
}

@media screen and (max-width: 600px) {
  .card {
    margin: 6px 8px;
  }
}

.card h6 {
  line-height: 22px;
}

.card .image-button,
.card .collapse {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.card .collapse {
  max-height: 100%;
  background-color: white;
  overflow: visible;
}

.card .collapse.down {
  overflow-y: hidden;
  bottom: unset;
  z-index: 1;
  top: 0;
}

.card .collapse.scroll {
  overflow-y: auto;
}

.card .image-button {
  border-radius: 0;
  top: 0;
}

.card .project-button {
  box-sizing: content-box;
  height: 30px;
  width: 30px;
  padding: 0;
}

.card .image-button:hover {
  background-color: rgba(0, 0, 0, .3);
}

.card .grade {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FAFAFA;
  width: 25%;
}

.card .fa-chevron-down,
.card .fa-chevron-up {
  transition: transform .4s cubic-bezier(.4, 0, .2, 1) .1s;
  transform: rotate(0deg);
}

.card .rotate {
  transform: rotate(180deg);
}