.flair {
  padding: 16px;
}

.flair h6 {
  padding-top: 14px;
  line-height: 1.75 !important;
  color: #424242;
}

.flair i {
  padding-right: 8px;
}

.flair b i {
  font-size: 11px;
  vertical-align: text-top;
  line-height: 20px;
  padding: 0 0 0 8px;
}