#graph {
  position: relative;
  overflow: hidden;
  margin: 16px 0 12px;
  height: 108px;
}

#graph svg {
  font-family: 'Quicksand';
  font-size: 12px;
  fill: transparent;
  position: absolute;
  right: 0;
  top: 0;
}

#graph text {
  fill: #9E9E9E;
}

#legend {
  color: #424242;
  line-height: 1;
}

#legend ul {
  display: inline-block;
  margin: 0 5px 0 3px;
  padding: 0;
}

#legend ul li {
  margin-left: 3px;
  display: inline-block;
  width: 10px;
  height: 10px;
}

#github {
  padding: 0 8px;
}

#github h6 {
  color: #424242;
  padding-top: 14px;
  line-height: 1.75;
}

#github i {
  padding-right: 8px;
}

#github b {
  width: 20px;
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 960px) {
  #github {
    padding-bottom: 16px;
  }
}