.year {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 54px;
  width: 94px;
  margin: 0 8px;
  padding: 8px;
  border-right: 1px solid #CFD8DC;
  border-left: 1px solid #CFD8DC;
  box-shadow: 0px -.5px 0px #EEE inset;
  background-color: white;
}

.year.end {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #CFD8DC;
  padding: 12px 8px;
}

.year.start {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #CFD8DC;
  padding: 12px 8px;
}

.city-vline, .city-vline i,
.city, .year .number {
  position: absolute;
  border: 1px solid #CFD8DC;
  background-color: white;
  border-radius: 25px;
}

.year .city {
  color: #424242;
  font-weight: 500;
  right: 160%;
  bottom: 0;
  padding: 12px 20px;
}

.city-vline {
  right: 100%;
  bottom: 24px;
  width: 60%;
  height: 4px;
}

.city-vline i {
  right: -7px;
  top: -5px;
  width: 12px;
  height: 12px;
}

.city-vline .number {
  position: absolute;
  left: 46%;
  transform: translateX(-50%);
  bottom: -12px;
  padding: 1px 8px 2px;
  font-weight: 500;
}

.inst-box, .inst-sign, .event > i {
  position: absolute;
  left: 100%;
  top: 0;
}

.inst-box, .inst-sign, .ctrls .black {
  background-color: #37474F;
  border-radius: 8px;
}

.inst-box {
  min-width: 10rem;
  max-width: 180%;
  padding: 7px 12px 9px;
  margin: 8px 0 0 32px;
}

.inst-box > i {
  top: 8px;
  right: 99%;
  position: absolute;
  border-right: 12px solid #37474F;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
}

.inst-box i.fa-school {
  font-size: 13px;
}

.inst-sign {
  border-radius: unset;
  margin-left: 10px;
  width: 5px;
  height: 100%;
}

.inst-sign.start {
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
}

.inst-sign.end {
  border-radius: 8px 8px 0 0;
  margin-top: 8px;
}

.inst-sign.start.end {
  height: calc(100% - 16px);
  border-radius: 8px;
}

.event {
  position: absolute;
  right: 100%;
  top: 32%;
  min-width: 168px;
  padding: 8px 12px;
  margin-right: 28px !important;
}

.event, .ctrls .orange {
  background-color: #FA5E35;
  border-radius: 2px;
}

.event.up {
  top: unset;
  bottom: 32%;
}

.event > i {
  margin-left: -5px;
  border-left: 20px solid #FA5E35;
  border-bottom: 20px solid transparent;
  background-color: unset;
}

.event.up > i {
  border-top: 20px solid transparent;
  border-bottom: unset;
  top: unset;
  bottom: 0;
}

.ctrls {
  padding-bottom: 48px;
  justify-content: space-evenly;
  flex-direction: row !important;
  display: flex;
  width: 100%;
}

.ctrls label * {
  color: #FAFAFA;
  font-size: 1.1em;
}

.ctrls .orange, .ctrls .black {
  padding: 0 16px 0 1px;
  margin: 0;
}

@media screen and (min-width: 650px) {
  .year {
    width: 120px;
    padding: 8px 12px;
  }

  .year.start, .year.end {
    padding: 12px;
  }

  .ctrls {
    padding-left: 48px;
  }
}
